#mainSection {
  background-color: grey;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 2fr 1fr;
  grid-template-areas:
    "header header header header header"
    ". filter filter filter ."
    ". . selectRecipe . ."
    ". featured featured featured ."
    "footer footer footer footer footer";
}

header {
  grid-area: header;
  background-color: lightgreen;
}

#filter {
  grid-area: filter;
  background-color: orange;
}

#selectRecipe {
  grid-area: selectRecipe;
  border: 1px solid black;
  overflow-x: hidden;
}

#selectRecipe ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#selectRecipe ul li {
  border: 1px solid black;
  width: 100%;
  padding: 1em;
}

#featuredRecipes {
  grid-area: featured;
  background-color: lightblue;
}

footer {
  grid-area: footer;
  background-color: yellow;
  text-align: center;
}
